extends layout

block content
  #app
  script(src="/node_modules/socket.io-client/socket.io.js")
  script(src="http://localhost:3449/js/compiled/out/goog/base.js")
  script(src="http://localhost:3449/js/compiled/out/cljs_deps.js")
  script(type="text/javascript").
    goog.require('figwheel.connect');
    goog.require('client.core');
